body {
    background: linear-gradient(135deg, #BEE9FF 0%, #FFFFFF 35%, #A0DBFF 100%);
    font-family: "Inter", sans-serif;
}


/* TOPBAR — GIỜ ĐÃ CỐ ĐỊNH */
.topbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    background: rgba(35, 175, 255, 0.85);
    backdrop-filter: blur(10px);
    color: #fff;
    height: 70px;
    padding: 0 25px;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
    margin-top: 15px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    z-index: 999;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 105px;
    left: 20px;
    width: 260px;
    height: calc(100vh - 130px);
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(16px);
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
    padding: 20px 0;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 22px;
    margin: 8px 12px;
    text-decoration: none;
    font-weight: 600;
    color: #004A91;
    border-radius: 15px;
    transition: 0.25s;
}
.sidebar #linkDuyetBaiViet{
    display: block;
}

.sidebar a:hover {
    background: #23AFFF;
    color: #fff;
    transform: translateX(5px);
    box-shadow: 0 5px 18px rgba(0,170,255,0.35);
}

/* CONTENT */
.content-area {
    margin-left: 320px;
    padding: 120px 25px 40px;
}

/* HERO */
.hero-title {
    font-size: 36px;
    font-weight: 700;
}

.hero-sub {
    font-size: 18px;
    color: #555;
}

/* MOCK APP */
.app-mock {
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}

/* FEATURE CARD */
.feature-card {
    background: #ffffff;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.07);
    transition: 0.25s;
}

.feature-card:hover {
    transform: translateY(-4px);
}

.icon-bg {
    background: #eaf5ff;
    padding: 12px;
    border-radius: 10px;
    color: #007bff;
}
/* Toggle switch đẹp */
input[type="checkbox"] {
    width: 45px;
    height: 22px;
    appearance: none;
    background: #cfcfcf;
    border-radius: 20px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.3s;
}

/* Khi bật */
input[type="checkbox"]:checked {
    background: #4B79A1;
}

input[type="checkbox"]:checked::before {
    transform: translateX(23px);
}
